ion-button{
    --background:#77fd88;
    --background-hover: #e6e6ff;
    --color:  #0c2b0aea;
    width: 100px;
    height:50px;
    height:30px;
    --opacity: 75%;
    font-weight: bold;
    font-size:10px;
}
#buton_back{
    position:absolute;
    bottom:0;
    left: 40%;
    transform: translate(-10%, -10%);
}

#name{
    font-weight: bold;
    font-size:30px;
}

#farm{
    font-weight: bolder;
    font-size:15px;
    font-style: var(--color  #11ff00 ) ;
} 

#titl{
    font-weight: bold;
    font-size:20px;
    --color:  #fefffe;
    --opacity: 75%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

ion-content{
     
    --background: url('../../../images/med5.jpg') no-repeat; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;


 }

 .bg-transparent {
    background: transparent;
    font-weight: bold;
    font-size:30px;
    --color:  #07ff07;
  }

