<ion-header no-border>
  <ion-toolbar color="success">
    <ion-title top center edge id = "titl">
      Medicamente disponibile: 
    </ion-title>
  </ion-toolbar>

  <ion-searchbar (ionChange)="Cauta($event)" >

  </ion-searchbar>


</ion-header>

<ion-content>

    <ion-list class="bg-transparent">
        <ng-container *ngFor="let med of meds">
          <ion-item text-center color="none" lines="none">
            <div class="d-flex justify-content-between" style="width: 100%;">
              <div id = "name">{{med.name}}</div>
              <div id = "farm">{{med.farmacie}}</div>
            </div>
              </ion-item>
              </ng-container>
              </ion-list>

    <ion-button (click)=goBack() id = "buton_back"> 
      Back  
      </ion-button>
</ion-content>
