<ion-header>
  <ion-toolbar>
    <ion-title>Lista farmaciilor partenere:</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-list>
    <ng-container *ngFor="let farm of farms">
      <ion-item>
        <div class="d-flex justify-content-between" style="width: 100%;">
          <div>{{farm.name}}</div>
          <div>{{farm.street}}</div>
          <div>{{farm.nr}}</div>
          <ion-button size="small">Detalii</ion-button>
        </div>
          </ion-item>
          </ng-container>
          </ion-list>
          
  <ion-button (click)=goBack() fill="outline" color="secondary"> 
    Back  
    </ion-button>

</ion-content>
