<ion-header no-border>
  <ion-toolbar color="success">
    <ion-title>Medicamente disponibile: </ion-title>
  </ion-toolbar>

  <ion-searchbar (ionChange)="Cauta($event)" >

  </ion-searchbar>


</ion-header>

<ion-content>

    <ion-list>
        <ng-container *ngFor="let med of meds">
          <ion-item>
            <div class="d-flex justify-content-between" style="width: 100%;">
              <div>{{med.name}}</div>
              <div>{{med.farmacie}}</div>
              <ion-button size="small" color="success">Detalii</ion-button>
            </div>
              </ion-item>
              </ng-container>
              </ion-list>

    <ion-button (click)=goBack() fill="outline" color="success"> 
      Back  
      </ion-button>
</ion-content>
